.datePickerMenu {
  z-index: 1;

  margin-top: 10px;
  position: absolute;

  transform: translateX(50%);
  right: 50%;


  background: white;
  border: solid 1px rgba(0,0,0,0.03);
  border-radius: 5px;


  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 160px;
  max-height: 150px;
  overflow-y: scroll;

  visibility: hidden;
  opacity: 0;

  transition: .2s opacity linear;

  &__active {
    visibility: visible;
    opacity: 1;
  }
}